# 🧾 CHANGELOG

{% set label_map = {
    "feat": "✨ Features",
    "fix": "🐛 Bug Fixes",
    "docs": "📝 Documentation",
    "style": "🎨 Style",
    "refactor": "🧠 Refactoring",
    "test": "🧪 Tests",
    "chore": "🔧 Chores",
    "ci": "⚙️ CI",
    "perf": "⚡ Performance",
    "build": "🏗️ Build",
    "release": "🚀 Release",
    "other": "📦 Others"
} %}

{% for release in releases %}
## {{ release.version }} ({{ release.date }})
{%- for type, commits in release.changes.items() %}
### {{ label_map.get(type, type | capitalize) }}
{%- for commit in commits %}
- **{{ commit.scope }}**: {{ commit.subject }}
  {%- if commit.body %}
  {{ '\n  ' + commit.body | replace('\n', '\n') }}
  {% endif %}
{%- endfor %}

{%- endfor %}
{% endfor %}
